@use "./catppuccin.scss" as cp;

.notification {
    background-color: cp.$surface0;
    border-radius: 16px;
    padding: 8px;

    .notification-image {
        min-width: 64px;
        min-height: 64px;
        border-radius: 8px;
        background-size: cover;
    }

    &.round {
        border-radius: 10000px;
    }
}
