@use "../catppuccin.scss" as cp;

.power-window {
    .power-controls {
        background-color: cp.$base;
        padding: 16px;
        border-radius: 48px;
        box-shadow: cp.$mantle 0px 0px 16px;
    }
}
