@use "../catppuccin.scss" as cp;
@use "../text.scss" as t;

.calendar-window {
    calendar {
        @include t.type("label-medium");

        // Calendar header (month and year)
        header {
            @include t.type("title-large");
            color: cp.$blue;
        }

        grid {
            label {
                padding: 0;
            }

            // Weekday names
            .day-name {
                color: cp.$teal;
            }

            // Days from other months, no bg
            .other-month {
                color: cp.$overlay1;
            }

            // Marked days
            :selected {
                @include t.type("label-medium", true);
            }

            // Current day
            .today {
                color: cp.$green;
            }
        }
    }
}
