@use "../catppuccin.scss" as cp;

.run-window {
    .run-prompt {
        padding: 8px;
        min-width: 480px;
        min-height: 480px;
        background-color: cp.$base;
        border-radius: 24px;
        box-shadow: cp.$mantle 0px 0px 16px;
    }
}
