* {
    min-height: 0;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

tooltip {
    background-color: #061115;
    color: #d9d7d6;
    font-family: "Material Design Icons", "Roboto", sans-serif;
    font-size: 12px;
    border-radius: 12px;
    min-height: 24px;
    padding: 4px 8px;
}

window#waybar {
    background-color: #061115;
    color: #d9d7d6;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 50000px;
    font-family: "Material Design Icons", "Roboto", sans-serif;
    font-size: 24px;
}

#window {
    font-size: 20px;
}

window#waybar > * {
    margin: 4px;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    border-radius: 50000px;
    min-width: 32px;
}

button {
    margin-right: 4px;
    transition: background 200ms ease;
}

button:last-child {
    margin: 0;
}

/* This doesn't work right now, https://github.com/Alexays/Waybar/pull/1120 fixes it */
button:hover {
    background-color: alpha(currentColor, 0.08);
}

button:focus {
    background-color: alpha(currentColor, 0.16);
}

button:active {
    background-color: alpha(currentColor, 0.24);
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    padding: 0 4px;
}
