@use "./catppuccin.scss" as cp;
@use "./colors.scss" as c;
@use "./text.scss" as t;

@use "./colored.scss";

@use "./widgets/notification.scss";

@use "./windows/bar.scss";
@use "./windows/calendar.scss";
@use "./windows/media.scss";
@use "./windows/popups.scss";
@use "./windows/power.scss";
@use "./windows/run.scss";
@use "./windows/scrim.scss";

* {
    all: unset;
}

.background {
    border-radius: 24px;
    background-color: cp.$base;
    color: cp.$text;
}

.info-window {
    min-width: 360px;
    min-height: 480px;

    > * {
        padding: 8px;
    }
}

.expandable-window {
    min-width: 360px;

    transition-property: min-height;
    transition-duration: 0.3s;

    > * {
        padding: 8px;
    }

    &.expanded {
        min-height: 480px;
    }
}

.slider-window {
    padding: 8px;
    // 360px would be too much because of the padding
    min-width: 344px;
}

.popups-window {
    min-height: 1000px;

    > * {
        min-width: 360px;
    }
}

.icon {
    font-size: 24px;
    font-family: "Material Design Icons";
}

.secondary {
    color: cp.$overlay1;
}

.audio-device {
    background-color: cp.$surface0;
    border-radius: 24px;

    > * {
        padding: 8px;
    }
}
